nav , p{
    font-family: 'Gochi Hand', 
    cursive;}


h1 {
    font-family: 'Patrick Hand SC',
     cursive;
    }

.card {
    padding: 20px;
    margin: 30px;
}
.card-body {
    margin: 30px;
    padding: 30px;
}
